Task_5_var-2_CorrBracSeq/.vs
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq.sln
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq.csproj
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/App.config
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/Properties
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/obj
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/bin/Debug/Task_5_var-2_CorrBracSeq.pdb
Task_5_var-2_CorrBracSeq/Task_5_var-2_CorrBracSeq/bin/Debug/Task_5_var-2_CorrBracSeq.exe.config